:root {
  --background-color: #f8f8f8;
  --primary-color: #6c63ff;
  --secondary-color: #ff7a59;
}




.home-link, .login-link {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 15px;
  margin-right: 10px;
}

.home-link {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 25px;
}

.login-link {
  background-color: var(--secondary-color);
  color: var(--background-color);
  border-radius: 25px;
}

.home-link:hover, .login-link:hover {
  transform: scale(1);
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Styling */
.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  background-color: #fff;
  color: var(--primary-color);
}

button[type="submit"] {
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #f50057;
  transform: scale(1.05);
}

/* Footer Styling */
footer {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  margin-top: 30px;
}

footer p {
  font-size: 14px;
}


