<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GenreFlix</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a class="home-link" href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('search') }}">Search</a></li>
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
          <li><a class="login-link" href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>